{{define "title"}}Your secret{{end}}

{{define "secret"}}
    <div id="fetch-form">
{{ if .Secret }}
        <pre id="secret" class="p-4 border rounded p-3 text-sm whitespace-pre-wrap">{{ .Secret }}</pre>
{{ else }}
        <form hx-post="/pop" hx-target="#fetch-form" hx-swap="outerHTML" class="mb-4">
            <input type="hidden" name="token" value="{{.Token}}">
            <button type="submit" class="rounded p-2 bg-sky-300 hover:bg-sky-800">Fetch secret</button>
        </form>
{{ end }}

{{if .Error}}
        <div id="error" class="text-red-600 mb-4">{{.Error}}</div>
{{end}}
    </div>
{{end}}

{{define "content"}}
    <p class="mb-4">Click the button to fetch the secret. It will be deleted immediately.</p>
{{template "secret" .}}
{{end}}
