@import "tailwindcss";
@source "../../templates/**/*.html";
@source "../../templates/*.html";
@layer base {
  h1 {
    @apply text-4xl font-extrabold text-gray-900 mb-4;
  }
  h2 {
    @apply text-2xl font-extrabold text-gray-900 mb-4;
  }
  a {
    @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
  }
}
