<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burn After Reading - Secret Added</title>
    <link href="/assets/style.css" rel="stylesheet">
  </head>
  <body class="text-grey-850 dark:text-grey-100 p-8">
    <div class="container w-200 mx-auto px-4 rounded border">
    <h1>Burn After Reading</h1>
    <h2>Secret added</h2>

    <p class="mb-4">You can access or share it with the following link: <a href="{{ .URL }}">{{ .URL }}</a></p>

    <p>Remember that the secret will be deleted after the first access. If it
      is not accessed within 24 hours, it will be deleted anyway.</p>
    </div>

  </body>
</html>
