{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burn After Reading - {{ template "title" . }}</title>
    <link href="/assets/style.css" rel="stylesheet">
  </head>
  <body class="text-grey-850 dark:text-grey-100 p-8">
    <script src="/assets/htmx.min.js"></script>
    <div class="container w-200 mx-auto p-4 rounded border ">
    <h1>Burn After Reading</h1>
      {{ template "content" . }}
    </div>
    <div class="footer mx-auto text-center mt-4 text-sm text-grey-500">
      <p>Version <a href="https://github.com/jamesmcdonald/burn-after-reading/releases/tag/{{.Version}}">{{.Version}}</a></p>
    </div>
  </body>
</html>
{{ end }}
