{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burn After Reading - {{ template "title" . }}</title>
    <link href="/assets/style.css" rel="stylesheet">
  </head>
  <body class="text-grey-850 dark:text-grey-100 p-8">
    <div class="container w-200 mx-auto p-4 rounded border ">
    <h1>Burn After Reading</h1>
      {{ template "content" . }}
    </div>
  </body>
</html>
{{ end }}
