<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Burn After Reading</title>
  </head>
  <body>
    <h1>Burn After Reading</h1>

    <p>Put some secret information in below. Or even some boring non-secret information.
      The secret will be encrypted and stored.</p>

    <p>You will receive a link that allows you to retrieve the secret later.
      Send that link to whomever you want to share the secret with. As soon as
      somebody opens the link and retrieves the secret, the stored secret will
      be deleted.</p>

    <p>Secrets will expire 24 hours after they were created.</p>

    <p><b>Note:</b> The secrets are encrypted in the database using AES-256
      with symmetric GPG using the shared key you get in your URL. I don't
      store or log that shared key, but you should decide for yourself whether
      you trust me before using this for secrets you care about.</p>

    <h2>Share a secret</h2>

    <form action="/add" method="post">
      <label for="secret">Secret:</label><br>
      <textarea id="secret" name="secret" rows="8" cols="80"></textarea>
      <br>
      <input type="submit" value="Share">
    </form>

  </body>
</html>
